
<div class="footer">
    <div class="container">
        <div class="row alignItemsCenter text-right flex-direction-r text-light p-rl-15-450">
            <div class="col-3 col-50  col-33-575 col-100-450 lineHeight19em">
                <h4>تماس با ما</h4>
                <div class="p-2 bd-highlight fontSize08em ">
                    <strong>شماره تماس : </strong>
                    <span class="">058-22222-021</span>
                </div>
                <div class="p-2 bd-highlight fontSize08em">
                    <strong>آدرس : </strong>
                    <span>ایران - تهران - ظفر - خیابان دلیری</span>
                </div>
                <div class="p-2 bd-highlight fontSize08em">
                    <strong>موبایل : </strong>
                    <span>0612-272-0939</span>
                </div>
            </div>
            <div class="col-3 col-50  col-33-575 col-100-450  directionRtl">
                <div class="d-flex mr-10   alignItemsCenter">
                    <div class="bd-highlight fontSize08em" style="padding: 8px">
                        <a href="https://t.me/s4b49" title=" ایدی تلگرام مجله زیبایی صبا ریکو">
                            <svg  height="33px"  x="0px" fill="#F0F0F0"
                                  viewBox="0 0 189.473 189.473" style="enable-background:new 0 0 189.473 189.473;"><g><path d="M152.531,179.476c-1.48,0-2.95-0.438-4.211-1.293l-47.641-32.316l-25.552,18.386c-2.004,1.441-4.587,1.804-6.914,0.972c-2.324-0.834-4.089-2.759-4.719-5.146l-12.83-48.622L4.821,93.928c-2.886-1.104-4.8-3.865-4.821-6.955 c-0.021-3.09,1.855-5.877,4.727-7.02l174.312-69.36c0.791-0.336,1.628-0.53,2.472-0.582c0.302-0.018,0.605-0.018,0.906-0.001 c1.748,0.104,3.465,0.816,4.805,2.13c0.139,0.136,0.271,0.275,0.396,0.42c1.11,1.268,1.72,2.814,1.835,4.389 c0.028,0.396,0.026,0.797-0.009,1.198c-0.024,0.286-0.065,0.571-0.123,0.854L159.898,173.38c-0.473,2.48-2.161,4.556-4.493,5.523 C154.48,179.287,153.503,179.476,152.531,179.476z M104.862,130.579l42.437,28.785L170.193,39.24l-82.687,79.566l17.156,11.638 C104.731,130.487,104.797,130.533,104.862,130.579z M69.535,124.178l5.682,21.53l12.242-8.809l-16.03-10.874 C70.684,125.521,70.046,124.893,69.535,124.178z M28.136,86.782l31.478,12.035c2.255,0.862,3.957,2.758,4.573,5.092l3.992,15.129 c0.183-1.745,0.974-3.387,2.259-4.624L149.227,38.6L28.136,86.782z"/></g>
                            </svg>
                        </a>
                    </div>
                    <div class="bd-highlight fontSize08em" style="padding: 8px">
                        <a href="https://www.instagram.com/sabaricoeyelash/" title=" صفحه اینستاگرام مجله زیبایی صبا ریکو">
                            <svg fill="#F0F0F0" viewBox="0 0 50 50" width="35px" height="35px"><path d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"/></svg>
                        </a>
                    </div>
                    <div class="bd-highlight fontSize08em">
                        <a href="https://www.pinterest.com/b64cc1b57594442d8ff8b17619c180" title=" صفحه پینترست مجله زیبایی صبا ریکو">
                           <svg fill="#F0F0F0"  viewBox="0 0 50 50" width="35px" height="35px">    <path d="M25,2C12.318,2,2,12.317,2,25s10.318,23,23,23s23-10.317,23-23S37.682,2,25,2z M27.542,32.719 c-3.297,0-4.516-2.138-4.516-2.138s-0.588,2.309-1.021,3.95s-0.507,1.665-0.927,2.591c-0.471,1.039-1.626,2.674-1.966,3.177 c-0.271,0.401-0.607,0.735-0.804,0.696c-0.197-0.038-0.197-0.245-0.245-0.678c-0.066-0.595-0.258-2.594-0.166-3.946 c0.06-0.88,0.367-2.371,0.367-2.371l2.225-9.108c-1.368-2.807-0.246-7.192,2.871-7.192c2.211,0,2.79,2.001,2.113,4.406 c-0.301,1.073-1.246,4.082-1.275,4.224c-0.029,0.142-0.099,0.442-0.083,0.738c0,0.878,0.671,2.672,2.995,2.672 c3.744,0,5.517-5.535,5.517-9.237c0-2.977-1.892-6.573-7.416-6.573c-5.628,0-8.732,4.283-8.732,8.214 c0,2.205,0.87,3.091,1.273,3.577c0.328,0.395,0.162,0.774,0.162,0.774l-0.355,1.425c-0.131,0.471-0.552,0.713-1.143,0.368 C15.824,27.948,13,26.752,13,21.649C13,16.42,17.926,11,25.571,11C31.64,11,37,14.817,37,21.001 C37,28.635,32.232,32.719,27.542,32.719z"/></svg>
                        </a>
                    </div>


                    <div class="bd-highlight fontSize08em" style="padding: 8px">
                        <a href="https://www.youtube.com/channel/UCzVd8IwL7H6LUydu-mDcezw" title=" صفحه یوتیوب مجله زیبایی صبا ریکو">
                            <svg fill="#F0F0F0"  viewBox="0 0 50 50" width="40px" height="40px"><path d="M 24.402344 9 C 17.800781 9 11.601563 9.5 8.300781 10.199219 C 6.101563 10.699219 4.199219 12.199219 3.800781 14.5 C 3.402344 16.898438 3 20.5 3 25 C 3 29.5 3.398438 33 3.898438 35.5 C 4.300781 37.699219 6.199219 39.300781 8.398438 39.800781 C 11.902344 40.5 17.898438 41 24.5 41 C 31.101563 41 37.097656 40.5 40.597656 39.800781 C 42.800781 39.300781 44.699219 37.800781 45.097656 35.5 C 45.5 33 46 29.402344 46.097656 24.902344 C 46.097656 20.402344 45.597656 16.800781 45.097656 14.300781 C 44.699219 12.101563 42.800781 10.5 40.597656 10 C 37.097656 9.5 31 9 24.402344 9 Z M 24.402344 11 C 31.601563 11 37.398438 11.597656 40.199219 12.097656 C 41.699219 12.5 42.898438 13.5 43.097656 14.800781 C 43.699219 18 44.097656 21.402344 44.097656 24.902344 C 44 29.199219 43.5 32.699219 43.097656 35.199219 C 42.800781 37.097656 40.800781 37.699219 40.199219 37.902344 C 36.597656 38.601563 30.597656 39.097656 24.597656 39.097656 C 18.597656 39.097656 12.5 38.699219 9 37.902344 C 7.5 37.5 6.300781 36.5 6.101563 35.199219 C 5.300781 32.398438 5 28.699219 5 25 C 5 20.398438 5.402344 17 5.800781 14.902344 C 6.101563 13 8.199219 12.398438 8.699219 12.199219 C 12 11.5 18.101563 11 24.402344 11 Z M 19 17 L 19 33 L 33 25 Z M 21 20.402344 L 29 25 L 21 29.597656 Z"/></svg>
                        </a>
                    </div>
                    <div class="bd-highlight fontSize08em" style="padding: 8px">
                        <a href="https://twitter.com/sabaRico_" title=" صفحه توییتر مجله زیبایی صبا ریکو">
                            <svg fill="#F0F0F0"  width="35" height="35" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-50  col-33-575 col-100-450 lineHeight19em">
                <h4>آخرین مقالات </h4>
                <div class="p-2 bd-highlight fontSize08em">
                    <a href="https://www.sabarico.com/Article/37/hair-dye-highlight" title="آموزش رنگ و هایلایت" class="text-light">
                        <span>دوره آموزش رنگ و هایلایت  </span>
                    </a>
                </div>
                <div class="p-2 bd-highlight fontSize08em">
                    <a href="https://www.sabarico.com/Article/34/extension-eyelash-training-class" title="کلاس آموزشی اکستنشن مژه در تهران" class="text-light">
                        <span>کلاس آموزشی اکستنشن مژه در تهران </span>
                    </a>
                </div>
                <div class="p-2 bd-highlight fontSize08em">
                    <a href="https://www.sabarico.com/Article/22/extension-eyelash-valium" title="اکستنشن مژه والیوم چیست " class="text-light">
                        اکستنشن مژه والیوم
                    </a>
                </div>
                <div class="p-2 bd-highlight fontSize08em">
                    <a href="https://www.sabarico.com/Service/9/9" title="بهاره شعبانی مربی آموزشی آرایشگری " class="text-light">
                        بهاره شعبانی مربی آموزشی آرایشگری
                    </a>
                </div>
            </div>
            <div class="col-3 col-50  col-33-575 col-100-450 lineHeight19em">
                <h4>درباره ما</h4>
                <div class="p-2 bd-highlight fontSize08em text-justify directionRtl">
                    <span>مجله زیبایی صبا ریکو یک مجله زیبایی است که سعی دارد متد های جدید و صحیح آرایشگری و زیبایی را در اختیار اقایان و خانم های عزیز قرار دهد. این آموزش های در قالب مطالب و مقالات و اخبار تهیه و در مجله منتشر میشود.</span>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="d-flex justify-content-center" style="font-size: 0.6em;background-color:#000;color:#fff;">
    <div>
        <span>
            <a href="https://www.php-1.com/" class="text-light" title="php-1"> php-1 </a>
        </span>
        <span>  طراحی و اجرا </span>

    </div>
</div>
<button id="scrollToTopButton"
        on="tap:top.scrollTo(duration=200)"
        class="scrollToTop">⌃</button>