<div class="headerTop">
    <div class="container" id="top">
        <div class="row">
            <div class="col-6 text-light order-1 text-right fontSize08em">مجله زیبایی صبا ریکو</div>
            <div class="col-6 text-light order-0 text-left fontSize08em">1392/01/2</div>
        </div>
    </div>
    <amp-position-observer on="enter:hideAnim.start; exit:showAnim.start"
                           layout="nodisplay">
    </amp-position-observer>
</div>